@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

body {
    margin: 0;
    
    font-family: 'PT Sans', sans-serif;
    max-width: 1920px;
    background-color: #FAEBE6;
    overflow-x: hidden;

}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: #FAEBE6;
    box-shadow: 0px 10px 30px rgba(248, 182, 160, 0.8);
    border-radius: 0px 0px 20px 20px;

}

.nav-links li {
    padding-right: 50px;
    padding-left: 0px;
}

.nav-links {
    list-style: none;
    margin-left: 10%;
    padding: 0px;
}

li {
    display: inline;
}

.right-links {
    list-style: none;
    margin-right: 10%;
    padding: 0px;
}

a {
    text-decoration: none;
    background: linear-gradient(90deg, #FF1C13 0%,
            #FF6B00 30.21%,
            #FFAC1A 70.79%,
            #FEC808 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.acceuil {
    height: 780px;
    border: solid black 3px;
    max-width: 1920px;
}

.text1 {
    margin-left: 10%;
    margin-top: 15%;
    background: linear-gradient(90deg, #FF1C13 0%,
            #FF6B00 15%,
            #FFAC1A 30%,
            #FEC808 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h1 {
    font-size: 50px;

}

p {
    font-size: 25px;
}

.rectangle_rouge {
    position: relative;
    width: 150px;
    height: 1200px;
    left: 880px;
    top: -680px;
    z-index: -1;
    background: #FF1C13;
    transform: rotate(31.31deg);
}

.rectangle_orange {
    position: relative;
    width: 150px;
    height: 1200px;
    left: 1164px;
    top: -2000px;
    z-index: -1;
    background: #FF6B00;
    transform: rotate(31.31deg);


}


.rectangle_jaune-foncé {
    position: absolute;
    width: 150px;
    height: 1059.18px;
    left: 1300px;
    top: -40px;
    z-index: -1;
    background: #FFAC1A;
    transform: rotate(31.31deg);
}

.rectangle_jaune {
    position: absolute;
    width: 150px;
    height: 600px;
    left: 1445px;
    top: 300px;
    z-index: -1;
    background: #FEC808;
    transform: rotate(31.31deg);
}


.page2 {
    
    width: 100%;
    margin: 0px;
    display: flex;
    background-color: #FAEBE6;
    border: solid 3px red;
    height: 780px;
}

.text2 {
    padding: 0;
    margin: 0;
    height: 350px;
    width:820px;
    border: solid blue 3px;
    margin-top: 10%;
    margin-left: 10%;
    background: linear-gradient(90deg, #B03656 7.81%,
            #6E286B 49.48%,
            #4F1F29 95.31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page3 {
    margin: 0;
    border: solid 3px red;
    height: 780px;
    width: 100%;
}

.text3 {
    width: 820px;
    border: solid blue 3px;
    margin-top: 10%;
    margin-left: 10%;
    background: linear-gradient(90deg, #9B531A 0%,
            #C98A6D 30.88%,
            #E2BB87 93.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page4 {
    
    width: 100%;
    border: solid 3px red;
    height: 780px;
}

.text4 {
    width: 820px;
    border: solid blue 3px;
    margin-top: 10%;
    margin-left: 10%;
    background: linear-gradient(90deg, #000000 0%,
            #707070 47.4%,
            #9A9A9A 85.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page5 {
   
    width: 100%;
    border: solid 3px red;
    height: 740px;
}

.text5 {
    width: 820px;
    height: 550px;
    border: solid blue 3px;
    margin-top: 10%;
    margin-left: 10%;
    background: linear-gradient(90deg, #000000 7.29%,
            #C7141A 49.48%,
            #9A9A9A 87.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page6 {
    
    width: 100%;
    border: solid 3px red;
    height: 780px;
}

.text6 {
    width: 820px;
    border: solid blue 3px;
    margin-top: 10%;
    margin-left: 10%;
    background: linear-gradient(90deg, #FFAC1A 3.13%,
            #F0326E 43.23%,
            #33E1ED 85.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page7 {
    
    width: 100%;
    border: solid 3px red;
    height: 780px;
    
}

.text7 {
    border: solid blue 3px;
    margin-top: 10%;
    margin-left: 10%;
    background: linear-gradient(90deg, #B66E28 0%,
            #FFAC1A 47.4%,
            #DDDD33 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 820px;
    
}

.page8 {
    
    width: 100%;
    border: solid 3px red;
    height: 780px;
}

.text8 {
    border: solid blue 3px;
    margin-top: 13%;
    margin-left: 10%;
    background: linear-gradient(90deg, #65272A 10.94% ,#2E313B 47.4%, #6B6D8A 77.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     width: 820px;
}